* {
  box-sizing: border-box;
}

html {
  line-height: 1.2rem;
  color: var(--clr2);
  font-family: mR, sans-serif;
}

body {
  margin: 0;
}

img {
  width: 176.5px;
  height: 140px;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s;
  cursor: pointer;
}

a:hover {
  color: var(--clr3);
}

input[type="search"] {
  border: none;
  color: #040a2c;
}

input[type="search"]:focus {
  outline: none;
  border: none;
}

.borders {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.logo {
  height: 22px;
  width: 133px;
  margin: 3.5px 400.8px 8px 0;
  object-fit: contain;
}

.key-word {
  cursor: pointer;
}

.btn {
  background-color: #fff;
  border: none;
  font-size: 1.8rem;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  padding: 4px;
  text-align: center;
  font-weight: bolder;
}
