/* MOBILE */
@media (max-width: 660px) {
  .main-layout {
    width: 450px;
  }
  .nav-container .main-nav {
    height: 45px;
    padding: 10px;
  }
  .main-header .search-bar {
    flex-direction: column;
    height: 85px;
    padding: 10px;
    align-items: center;
  }
  .search-bar .search-container {
    margin-block-end: 10px;
  }
  .search-bar .key-words {
    width: 100%;
    justify-content: space-evenly;
  }
  .grid {
    width: 365px;
    row-gap: 5px;
  }
  .gallery-container {
    margin: 0 auto 75px;
  }
  .card-container {
    margin-block-end: 85px;
    flex-direction: column;
  }
  .card-container .card-image {
    margin: 0 auto 22px;
  }
  .card-container .card-content {
    text-align: center;
    padding: 0 25px;
  }
  .card-container h2 {
    margin-block-end: 13px;
    color: var(--clr1);
  }
  .card-container p {
    margin-block-end: 12px;
  }
  .contacts-container {
    margin: 0 auto;
  }

  .editor-container {
    width: 100%;
    height: 600px;
  }
  .editor-container .main-container {
    flex-direction: column;
    width: 100%;
    height: 570px;
  }
  .canvas-container {
    margin-block-end: 15px;
  }
  .links-container span {
    display: none;
  }
  .links-container a {
    padding: 25px;
    border-bottom: 1px solid var(--clr3);
  }
  .links-container a:hover {
    border-bottom: 1px solid #fff;
    transition: border-bottom 0.2s;
  }
  .main-nav .links-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: #ff8000f3;
    height: 100vh;
    min-width: 220px;
    transform: translateX(100%);

    transition: transform 0.6s, box-shadow 0.6s;
  }
  body.open-menu .links-container {
    transform: translateX(0%);
    box-shadow: -7px 0px 10px rgba(0, 0, 0, 0.493);
  }
}

/* MEDIUM */
@media (min-width: 660px) {
  .main-layout {
    width: 620px;
  }
  .main-header {
    height: 100px;
    width: 100%;
  }
  .nav-container .main-nav {
    height: 35px;
    padding: 5px 25px 0 24px;
  }
  .main-header .search-bar {
    flex-direction: row;
    height: 51px;
    padding: 20px;
  }
  .btn-menu{
    display: none;
  }
  .grid {
    row-gap: 4px;
    column-gap: 6px;
    width: 540px;
  }
  .gallery-container {
    margin: 0 auto 20px;
  }
  .card-container .card-image {
    margin: 0 43px;
  }
  .card-container h2 {
    margin-block-end: 4px;
    color: black;
  }
  .card-container p {
    margin-block-end: 10px;
  }
  .editor-container {
    width: 100%;
    height: 600px;
  }
  .editor-container .main-container {
    flex-direction: row;
    width: 100%;
    height: 555px;
  }
  .canvas-container {
    margin-block-end: 0;
  }
}

/* LARGE */
@media (min-width: 890px) {
  .main-layout {
    width: 740px;
  }
  .grid {
    row-gap: 8px;
    column-gap: 15px;
  }
  .editor-container {
    width: 700px;
    height: 480px;
  }
  .editor-container {
    width: 700px;
    height: 480px;
  }
  .editor-container .main-container {
    height: 423px;
  }
}
