.gallery-container {
  padding: 20px 0;
  background-color: var(--clr4);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(140px, 1fr));
  margin-block-end: 30px;
}

.grid img:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 2px #0000007e;
  transition: box-shadow 0.3s;
}
