.main-header {
  box-shadow: 0px 1px 9px 3px #00000029;
}

.header-logo {
  cursor: pointer;
}

.nav-container {
  background-color: var(--clr1);
}

.search-more-btn {
  text-decoration: underline;
  font-size: 0.7rem;
  cursor: pointer;
}

.search-container {
  border-block-end: 2px solid #040a2c;
  width: 187px;
  height: 23px;
}

.search-label {
  cursor: pointer;
}

.editor-mode {
  height: 35px;
}
