@font-face {
  font-family: mB;
  /* src: url(/fonts/montserrat/Montserrat-Bold.ttf); */
  src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: mR;
  src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: mM;
  src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: mT;
  src: url(fonts/Montserrat-Thin.ttf);
}
@font-face {
  font-family: quickR;
  src: url(fonts/quicksand/Quicksand-Regular.ttf);
}
@font-face {
  font-family: shizuru;
  src: url(fonts/shizuru/Shizuru-Regular.ttf);
}
